{% extends "form_base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 center-text">Update password</legend>

            {% for field in [form.password, form.new_password, form.confirm_new_password] %}
            <div class="form-group">
                {{ field.label(class="form-control-label") }}
                {% if field.errors %}
                {{ field(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ field(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info full-width") }}
            <small class="text-muted ml-2">
                <a href="{{ url_for('users_blueprint.reset_password_request') }}">Forgot Password?</a>
            </small>
        </div>
    </form>
</div>
<div class="border-top pt-3">
</div>
{% endblock content %}
