<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="/">E-commerce</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Left Side -->
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('products_blueprint.products') }}">All products</a>
                {% if current_user.is_authenticated and current_user.is_superuser %}
                <a class="nav-item nav-link" href="{{ url_for('orders_blueprint.orders_list') }}">Orders</a>
                {% endif %}
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated and current_user.is_superuser %}
                <a class="nav-item nav-link" href="#">
                    {{ current_user.username }}
                </a>
                <a class="nav-item nav-link" href="{{ url_for('users_blueprint.logout') }}">Logout</a>
                {% elif current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users_blueprint.profile') }}">
                    Hello, {{ current_user.username }}
                </a>
                <a class="nav-item nav-link" href="{{ url_for('carts_blueprint.cart') }}">
                    Cart - Items: {{ cart_size() }} Sum: ${{ cart_total() }}
                </a>
                <a class="nav-item nav-link" href="{{ url_for('users_blueprint.logout') }}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users_blueprint.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users_blueprint.signup') }}">SignUp</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>