.tree-menu, .tree-menu ul {
    list-style: none;
    list-style-position: inside;
}

.tree-menu .submenu-wrapper {
}

.tree-menu .submenu-wrapper .subtitle {
    font-size: 1.5em;
    font-weight: 550;
}

.tree-menu .submenu-wrapper .submenu {
    font-size: 1.1em;
}

.btn-complete {
    border: 0px;
    background: rgba(255, 255, 255, 0);
}

.btn-complete:before {
   font-family: "FontAwesome";
   content: "\F046";
}

.btn-complete:hover {
    color: #007acc;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin:  1em 0;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.orders-table thead tr {
    background-color: #007acc;
    color: #ffffff;
}

.orders-table th,
.orders-table td {
    padding: 12px 15px;
}

.orders-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.orders-table tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}

.orders-table tbody tr:last-of-type {
    border-bottom: 6px solid #007acc;
}

.orders-table tbody tr:hover {
    font-weight: bold;
    color: #007acc;
    background-color: #e6f3ff;
}
